
<div class="container" id="showcase">
  <h1>Let's Make Things Happen</h1>
</div>

<div class="content">
  <div class="info">
    <p class="blue">Lorem</p>
    <p class="header">Lorem ipsum, dolor sit?</p>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, laborum nihil? Culpa sunt minus tempora! Quaerat nisi deserunt dolorum asperiores illo laudantium at maiores, quibusdam id temporibus voluptate rerum voluptates corrupti nam ab nemo, esse architecto a voluptatem dolorem commodi?</p>
  </div>
  <div class="render">
      <app-login></app-login>
  </div>
  
</div>
